*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* width: 100%; */
}

a{
    text-decoration: none;
}

/* li {
    list-style: none;
} */

input[type ='submit']{
    cursor: pointer;
}


/* ///////////////////////HEADER/////////////////////// */

#header{
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    /* height: 903px; */
    background-color: #F5F5F5;
}

.header-menu{
    position: absolute;
    left: 38%;
    padding-top: 40px;
    box-sizing:border-box; 
    width: auto;

}

#pic{
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
#gradient{
  z-index: 99999999;
}

.header-menu li{
    padding: 0px 35px;
    font-size: 17px;
    display: inline;
    box-sizing: border-box;

}


#header li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,1,.1,1
    );
}


#header li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 100px;
}

#logo{
    position: absolute;
    /* right: 90%; */
    margin-left: 9%;
    box-sizing: border-box;
    margin-top: 20px;
}

#header li:nth-child(6){
    padding: 0px 100px;
}

#header li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
/* ///////////////////CONTENT//////////////// */

#content{
    height: auto;
    margin: 0 auto;
    width: 1920px;
    max-width: 100%;
    background-color: #f5f5f5;
    /* position: absolute; */
}

#transport{
    /* margin-top: 50px; */
    height: auto;
}

#transport h1{
    /* position: absolute; */
    text-align: center;
    color: #000;
    padding-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}


/* ///////////////////TRANSPORTATION////////////////// */


#transport{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.transportation{   
    height: auto;
    margin-top: 30px;
    border: 1px solid white;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: 4%;
    margin-right: 3%;
    /* margin-left: 7%; */
    background-color: #2b2b2b;
}

/* .transportation img{
    transition: 1s;
}

.transportation img:hover{
  transition: 1s;
  height: 150px;
} */

.transportation img:hover{
    filter: unset;
    /* -webkit-filter: grayscale(100) brightness(200); */
    transition: 1s;
}

.transportation img{
    filter: grayscale(10) brightness(2);   
    transition: .5s;
}
.transportation p{
    text-align: right;
    color: white;
    padding-top: 20px;
    padding-right: 5px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.transportation img{
    padding: 20px 100px 20px 0px; 
    
}

/* ///////////////ABOUT US/////////////// */



#about-us h1{
    padding-top:30px;
    font-size: 50px;
    font-family: "Montserrat";
    margin-left: 4%;
    text-align: unset;
    }
    
    #about-us p{
    font-family: "Montserrat";
    font-size: 17px;
    margin-left: 10%;
    margin-top: 50px;
    width: 1300px;
    }
    
    #about-us ul{
    margin-left: 12%;
    margin-top: 40px;
    font-family: "Montserrat";
    }
    
   
    
    
    #txt-2 p{
    /* text-align: right; */
    /* position: absolute; */
    width: 900px;
    padding-bottom: 50px;
    /* margin-left: 40%; */
    /* margin-top: 150px; */
    }
    

    /* ///////////////CONTACT FORM///////////////////// */

#contact-form{
    width: 1920px;
    background-color: #2b2b2b;
    /* margin-top: 50px; */
    height: 770px;
}

#worldwide-shipping{
    box-sizing: border-box;
    color: white;
    margin-left: 8%;
    position: absolute;
    margin-top: 30px;
    line-height: 40px;
}

#worldwide-shipping h1{
    padding-top: 90px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#worldwide-shipping p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#priorities{
     color: #b99522;
    padding-top: 200px;
    margin-left: 9%;
    display: inline-block;
}

#priorities p{
        padding-right: 220px;
        line-height: 50px;    
        font-size: 20px;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
}


#priority-1{
    margin-top: 50px;
    text-align: justify;
    display: inline-block;
}
#priority-2{
    text-align: justify;
    display: inline-block;
}



.cooperations{
    /* position: absolute; */
    /* margin-left: 5%; */
    padding-top: 50px;
}

.cooperations img:nth-child(2){
    margin: 0px 20px;
}

.cooperations img:nth-child(3){
    margin: 0px 20px;
}
.cooperations img:nth-child(4){
    margin: 0px 20px;
}
.cooperations img:nth-child(5){
    margin: 0px 20px;
}






/* ///////////////////FORM////////////////// */


#info{
    display: inline-block;   
    position: absolute;
    margin-top: 90px;
    margin-left: 2%;
}


#info input{
    background: none;
    border: 1px solid rgb(161, 161, 161);
    width: 420px;
    height: 45px;
}

#info input[type = 'submit']{
    color: #fff;
    width: 215px;
    height: 35px;
    /* margin-right: 0%;
    margin-left: 0%; */
    margin: 30px 150px 60px;
}


#info textarea{
    width: 420px;
    resize: none;
    height: auto;
}

#info h3{
    color: white;
    text-align: center;
    padding-top: 15px;
    
}
.information{
    color:  #fff;
    padding: 10px 50px;
}
   



/* ////////////FOOOTER//////////// */



#footer {
    height: auto;
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-family:'Montserrat', sans-serif;
    
}

#logo-footer{
    /* right: 90%; */
    margin-left: 3%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;

}

#logo-footer img{    
    margin-top: 50px;
}


#footer-menu1{
    margin-left: 20%;
    font-weight: bold;
    /* margin-top: 50px; */
}


#footer-menu2{
    margin-left: 12%;
    display: inline-block;
}

.footer-menu{
    display: inline-block;
    padding-top: 50px;
}
.footer-menu li{
    padding: 10px 0px;
    list-style: none;

}

.footer-menu li:first-child{
    margin-top: 20px;
}

#footer-menu1 li a{
    font-family:'Montserrat', sans-serif;;
    color: black;
}

#footer-menu1 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu1 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 90px;
}


#footer-menu2 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu2 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 200px;
}


.footer-menu a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 30px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}

.footer-menu a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 190px;
}



.main{
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

#contacts{
    display: inline-block;
    margin-left: 10%;

}


#contact{
    display: inline-block;
}

#company-contacts{
    display: inline-block;
    margin-left: 50px;

}



.contact{
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px 0px;

}

b{
    margin:0px;
}

.contact p:nth-child(2){
    margin-left: 20px;
    max-width: 500px;
    font-size: 15px;
}