

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* width: 100%; */
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

input[type ='submit']{
    cursor: pointer;
}


/* ///////////////////////HEADER/////////////////////// */

#header{
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    /* background-image: url(image/Frame\ 99.jpg); */
    /* background-repeat: no-repeat; */
    height: 903px;
}

#header ul{
    position: absolute;
    left: 45%;
    padding-top: 40px;
    box-sizing:border-box; 
    width: auto;

}

#pic{
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
#gradient{
  z-index: 99999999;
}

#header li{
    padding: 0px 35px;
    font-size: 17px;
    display: inline;
    box-sizing: border-box;

}


#header li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,1,.1,1
    );
}


#header li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 100px;
}

#logo{
    position: absolute;
    /* right: 90%; */
    margin-left: 9%;
    box-sizing: border-box;
    margin-top: 20px;
}

#header li:nth-child(6){
    padding: 0px 100px;
}

#header li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

#company-name{
    text-align: center;
    margin-top: 150px;
    /* left: 35%; */
    align-items: center;
    position: absolute;
    /* top: 0; */
    right: 0;
    /* bottom: 0; */
    left: 0;
    /* margin: auto; */
}

#company-name h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #b99522;
  font-size: 120px;
  
}

#company-name h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    font-size: 60px;
}


#company-name p{
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* //////////////////////////////////HAMBURGER//////////////////////////// */

.hamburger-menu{
    display: none;
}

.hamburgericon {
  
    position: absolute;
    left: 92%;
    Transform: translate(-50%,-50%);
    width: 80px;
    height: 80px;
    cursor: pointer;


}        

.hamburger {
    opacity: 0;
    margin-top: 45px;
    width: 40px;
    height: 4px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
    transition-delay: .1s;
}

.hamburger:before,

.hamburger:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
    transition-delay: .1s;
}

.hamburger:before{
    top: -11px;
 
}

.hamburger:after{
    top: 11px;
   
}

.hamburgericon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);

}

.hamburgericon.active .hamburger:before{
    top: 0;
   transform: rotate(45deg); 
   background-color: #fff;
}

.hamburgericon.active .hamburger:after{
    top: 0;
   transform: rotate(135deg); 
   
   background-color: #fff;
}


.hamburgericon.active + #thetabledrop { display:block; }






/* ////////////SCROLL PARALLAX///////// */

.parallax-window-3 {
    min-height:120px;
    background: transparent;
    width: 1920px;
    z-index: 9999999999999;
}



/* /////////////////////////ACHIEVMENTS///////////////////// */

#achievments{
    position:absolute;
    z-index:9999;
    left: 0;
    right: 0;
}
#achievements{
    background-color: #fff;
  
    width: 1107px;
    height: 395px;
    background-image: url(image/map.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    z-index:99999999;
    margin-top: -120px;
}


.achieve h1{
    font-size: 50px;
    margin-top: 120px;
    color: #b99522;
    padding: 0px 70px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.achieve p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

.achieve{
    padding: 0px 40px;
    display: inline-block;
    text-align: center;

}


#achieve-info{
    margin-top: 50px;
    width: auto;
}



#achieve-info p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bolder;
   width: 860px;
}
/* ///////////////////CONTENT//////////////// */

#content{
    height: 893px;
    margin: 0 auto;
    width: 1920px;
    max-width: 100%;
    background-color: #2b2b2b;
    /* position: absolute; */
}

#transport{
    margin-top: 50px;
    height: 500px;
}

#transport h1{
    position: absolute;
    color: #fff;
    left: 53%;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}


/* ///////////////////TRANSPORTATION////////////////// */


#transport{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.transportation{   
    height: auto;
    margin-top: 190px;
    border: 1px solid white;
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-left: 7%;
}

/* .transportation img{
    transition: 1s;
}

.transportation img:hover{
  transition: 1s;
  height: 150px;
} */

.transportation img:hover{
    filter: unset;
    /* -webkit-filter: grayscale(100) brightness(200); */
    transition: 1s;
}

.transportation img{
    filter: grayscale(10) brightness(2);   
    transition: .5s;
}
.transportation p{
    text-align: right;
    color: white;
    padding-top: 20px;
    padding-right: 5px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.transportation img{
    padding: 20px 100px 20px 0px; 
    
}




#news-h1{
    position: absolute;
    margin-top: 150px;
    left: 47%;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.parallax-window-2{
    width: 1920px;
    min-height:330px;
    background: transparent;
}

/* ////////////////NEWS///////////////// */


#news{
    margin-top: -150px;
    position: absolute;
    z-index: 999909999;
    left: 0;
    right: 0;
    width: 1250px;
}



#all-news a{
    /* display: flex; */
    width: 250px;
    position: absolute;
    color: black;
    left: 100%;
    margin-top: 0px;
    font-family: 'Montserrat';
    transition: 0.8s;
}




#all-news a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 40px;
    opacity: 0;
    transition: all 0.8s cubic-bezier(.15,1,.1,2);
}


#all-news a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 250px;
}



.fresh-news{
    width: 350px;
    display: inline-block;
    margin: 0px 25px;
    transition: .5s;
}

.fresh-news:hover{
    transform: scale(1.05);
    transition: .5s;
}

.news-date{
    padding-top: 5px;
    color: #b99522;
}

.txt{
    background-color: #2b2b2b;
    color: white;
}

.txt p{
    margin: 0px 20px 0px 20px;
    font-size: 17px;
    font-family: 'Montserrat';    
}

.txt p:last-child{
    padding-bottom: 30px ;
}

/* /////////////////CONTACT FORM//////////////////// */

#contact-form{
    width: 1920px;
    background-color: #2b2b2b;
    margin-top: 50px;
    height: 770px;
}

#worldwide-shipping{
    box-sizing: border-box;
    color: white;
    margin-left: 8%;
    position: absolute;
    margin-top: 30px;
    line-height: 40px;
}

#worldwide-shipping h1{
    padding-top: 90px;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#worldwide-shipping p{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#priorities{
     color: #b99522;
    padding-top: 200px;
    margin-left: 9%;
    display: inline-block;
}

#priorities p{
        padding-right: 220px;
        line-height: 50px;    
        font-size: 20px;  
        font-family: Verdana, Geneva, Tahoma, sans-serif;  
}


#priority-1{
    margin-top: 50px;
    text-align: justify;
    display: inline-block;
}
#priority-2{
    text-align: justify;
    display: inline-block;
}



.cooperations{
    /* position: absolute; */
    /* margin-left: 5%; */
    padding-top: 50px;
}

.cooperations img:nth-child(2){
    margin: 0px 20px;
}

.cooperations img:nth-child(3){
    margin: 0px 20px;
}
.cooperations img:nth-child(4){
    margin: 0px 20px;
}
.cooperations img:nth-child(5){
    margin: 0px 20px;
}






/* ///////////////////FORM////////////////// */


#info{
    display: inline-block;   
    position: absolute;
    margin-top: 90px;
    margin-left: 2%;
}


#info input{
    background: none;
    border: 1px solid rgb(161, 161, 161);
    width: 420px;
    height: 45px;
}

#info input[type = 'submit']{
    color: #fff;
    width: 215px;
    height: 35px;
    /* margin-right: 0%;
    margin-left: 0%; */
    margin: 30px 150px 60px;
}


#info textarea{
    width: 420px;
    resize: none;
    height: auto;
}

#info h3{
    color: white;
    text-align: center;
    padding-top: 15px;
    
}
.information{
    color:  #fff;
    padding: 10px 50px;
}

/* ///////////////////////FOOTER////////////////////// */

#footer {
    height: auto;
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-family:'Montserrat', sans-serif;
    
}

#logo-footer{
    /* right: 90%; */
    margin-left: 5%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;

}

#logo-footer img{    
    margin-top: 50px;
}


#footer-menu1{
    margin-left: 20%;
    font-weight: bold;
    /* margin-top: 50px; */
}


#footer-menu2{
    margin-left: 12%;
    display: inline-block;
}

.footer-menu{
    display: inline-block;
    padding-top: 50px;
}
.footer-menu li{
    padding: 10px 0px;
}

.footer-menu li:first-child{
    margin-top: 20px;
}

#footer-menu1 li a{
    font-family:'Montserrat', sans-serif;;
    color: black;
}

#footer-menu1 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu1 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 90px;
}


#footer-menu2 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu2 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 200px;
}


.footer-menu a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 30px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}

.footer-menu a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 190px;
}



.main{
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

#contacts{
    display: inline-block;
    margin-left: 10%;

}
#contact p{
    /* padding: 35px 0px; */
}

#contact{
    display: inline-block;
}

#company-contacts{
    display: inline-block;
    margin-left: 50px;

}



.contact{
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px 0px;

}

b{
    margin:0px;
}

.contact p:nth-child(2){
    margin-left: 20px;
    max-width: 500px;
    font-size: 15px;
}


@media screen and (min-width:320px) and (max-width:480px){
   

    .parallax-mirror{
        display: none;
    }

    .parallax-slider{
        display: none;
    }
   
   /* ////////////HEADER////////// */
    #header{
     max-width: 100%;
     height: auto;
    }
    
    #header ul{
        display: none;
    }
    #logo img{
        max-width: 50%;
        margin-top: 20spx;
    }

    #company-name{
        margin-top: 30px;
    }

    #company-name h1{
        font-size: 100%;
    }

 
    #company-name h3{
        font-size: 100%;
    }

    #company-name p{
        font-size: 50%;
    }

    #back-img{
        max-width: 100%;
    }


/* ///////////////////HAMBURGER/////////////////// */
.hamburger {
    margin-top: 60px;
    opacity: 1;
}

.hamburger::after{
    position: fixed;
}

.hamburger-menu{
    /* margin-top: 100px; */
    background-color: #D6D6D6;
    position: fixed;
    /* margin-top: 60px; */
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #2c3a47;
    top: 0;
    right: -100%;
    align-items:center;
    justify-content: center;
    transition: .65s;
}

.hamburger-menu ul{
    display: grid;
}

.hamburger-menu li{
 margin: 20px 0;
 overflow: hidden;
}


.hamburger-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    transform: translateY(40px);
    font-family: Verdana;


}

.hamburger-menu a::before{
    position: absolute;
    width: 0px;
    height: 15px;
    background: #fff;
    content: none;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.2s linear;
}

.hamburger-menu a:hover::before{
    width: 100%;
}

.hamburger-menu.active{
    right: 0;
}

.hamburger-menu.active a{
    transform: translateY(0);
    transition: .6s linear;
}

.hamburger-menu.active li:nth-child(1) a {
 transition-delay: 0.2s;
}

.hamburger-menu.active li:nth-child(2) a {
    transition-delay: 0.4s;
}

.hamburger-menu.active li:nth-child(3) a {
    transition-delay: 0.6s;
}

.hamburger-menu.active li:nth-child(4) a {
    transition-delay: 0.8s;
}


/*//////////// achievments///////////// */

    #achievments{
        position: unset;
    }

    #achievements{
        margin-top: 0px;
        width: 100%;
        background-size: 100%;
        background-position: unset;
        height: auto;
    }

    #mock h1{
        font-size: 100%;
    }

    .achieve{
        text-align: unset;
        display: inline-block;
    }
    .achieve h1{
        margin-top: 20px;
        padding: 0px;
    }

    .achieve p{
        font-size: 20%;
    }

    #achieve-info p{
        font-size: 50%;
        width: auto;
    }

    /* /////////////////PARALLAX SCROLL///////////// */

    .parallax-window-3{
        display: none;
    }


    /* /////////////CONTENT///////////// */

    #content{
        max-width: 100%;
        height: auto;
    }

    #transport h1{
        position: unset;
        padding-top: 10px;
        text-align: center;
        font-size: 100%;
    }

    /* //////////////TRANSPORT//////////// */

    #transport{
        height: auto;
    }
    .transportation{
         margin-top: 10px;
         left: 0px;
         right: 0px;
         width: 30%;
        margin-left: 12%;
}

    .transportation p{
        font-size: 50%;
        padding-top: 10px;
    }

    .transportation img{
        padding: 0px;
        width: 100%;
        height: 100%;
    }

    #news-h1{
        margin-top: 10px;
        position: unset;
        text-align: center;
    }


    /* //////////NEWS///////// */

    #news{
        max-width: 100%;
        margin-top: 10px;
        position: unset;
        display: inline-block;
        margin-left: 30px;
    }

    .fresh-news{
        width: 40%;
        padding-top: 10px;
        margin: 0px;
    }

    .fresh-news br{
        display: none;
    }

    .txt{
        
        /* margin-left: 5px; */
        /* margin-left: 30%; */
        /* max-width: 70%; */
    }

    .txt p{
        max-width: 90%;
        padding-top: 5px;
        font-size: 10%;
        margin: 0px 5px;
    }

    .txt img{
        width: 100%;
        height: 10%;
    }

    .news-date p{
        padding: 0px;
    }
    .txt p:last-child {
        padding-bottom: 10px;
    }

    #all-news h1{
        text-align: center;
        width: auto;
    }
    #all-news a{
        position: unset;
        text-align: center;
        width: auto;
        margin-left: 85px;
        font-size: 90%;
    }


    /* /////////////////////PARALLAX WINDOW////////////// */

    .parallax-window-2{
        display: none;
    }

    /* //////////////////CONTACT FORM/////////////// */

    #contact-form{
        margin-top: 10px;
        max-width: 100%;
        height: auto;
    }

    #worldwide-shipping{
        margin-left: 0px;
        line-height: 20px;
        text-align: center;
        left: 0;
        right: 0;
        position: unset;
    }

    #worldwide-shipping h1 {
        text-align: center;
        padding-top: 0px;
        font-size: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    #worldwide-shipping p {
        font-size: 80%;
    }

    #priorities{
        padding-top: 10px;
        margin-left: 0px;
        right: 0;
        text-align: center;
        left: 0;
    }

    #priority-1{
        margin-top: 0px;
    }

    #priorities p{
        font-size: 100%;
        padding-right: 0px;
        line-height: 30px;
        text-align: center;
    }

    .cooperations img{
        width: 20%;
    }

    #info{
        position: unset;
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-top: 10px;
        width: 70%;
        padding-bottom: 10px;
    }


    .information{
        padding: 0px;
        text-align: center;
    }

    .information p{
        font-size: 70%;
    }

    #info input{
        width: 70%;
        height: 100%;
        color: white;
    }

    #info textarea{
        width: 70%;
        height: 100px;
        color: white;
    }

    #message{
        height: 50%;
    }

    #button{
        text-align: center;
    }

    #info input[type = 'submit'] {
        color: #fff;
        width: 30%;
        margin: unset;
        left: 0;
        height: auto;
        font-size: 70%;
        margin-bottom: 10px;
    }

    /* ///////////////FOOTER//////////////// */

    #footer{
        width: 100%;
    }

    .footer-menu{
        padding-top: 20px;
    }

    #logo-footer{
        position: unset;
        margin-left: unset;
        display: block;
    
    }

    #logo-footer img{
        margin: 0 auto;
        display: flex;
        padding-top: 10px;
    }

    #footer-menu1 {
        margin-left: unset;
        font-weight: bold;
        margin: 0 auto;
        display: block;
        text-align: center;
        /* margin-top: 0px; */
        
    }

    #footer-menu1 ul{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

   .main{
        text-align: center;
    }
    

    #footer-menu2 {
        margin-left: unset;
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    #footer-menu2 ul{
        display: inline;

    }

    #contacts{
        display: inline-block;
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    .contact{
        text-align: center;
        display: block;
        padding: 10px;
    }

    .contact b p{
        text-align: center;
        display: block;
    }

    .contact p:nth-child(2) {
        margin-left: 0px;
        max-width: 500px;
        /* font-size: 15px; */
    }
}