*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* width: 100%; */
}

a{
    text-decoration: none;
}

/* li {
    list-style: none;
} */

input[type ='submit']{
    cursor: pointer;
}






/* ///////////////////HEADER/////////////// */

#header{
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    height: 100px;
    /* height: 903px; */
    background-color: #2b2b2b;
    
}

.header-menu{
    position: absolute;
    left: 38%;
    padding-top: 40px;
    box-sizing:border-box; 
    width: auto;

}



.header-menu li{
    padding: 0px 35px;
    font-size: 17px;
    display: inline;
    box-sizing: border-box;

}


#header li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,1,.1,1
    );
}


#header li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 100px;
}

#logo{
    position: absolute;
    /* right: 90%; */
    margin-left: 9%;
    box-sizing: border-box;
    margin-top: 20px;
}

#header li:nth-child(6){
    padding: 0px 100px;
}

#header li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}




/* /////////////////////CONTENT//////////////// */
#content{
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    /* height: 100px; */
    /* height: 903px; */
    background-color: #f5f5f5; 
}



#content h1:nth-child(1){
    text-align: center;
    font-size: 50px;
    font-family: 'Montserrat';
}

#main{
    /* width: 100px; */
    font-size: 30px;
    padding-bottom: 50px;
    width: 700px;
    margin: 0;
}

#content img{
    margin-left: 10%;
    margin-top: 40px;
}

 
#content-txt{
    display: inline-block;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 100px;
    position: absolute;
    font-family: 'Montserrat';

}
#content-txt p{
   width: 950px;
   padding-bottom: 30px;

}

#comment{
    font-family: 'Montserrat';
    width: 1200px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0;
    margin-left: 10%;
}






/* ////////////FOOOTER//////////// */



#footer {
    height: auto;
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-family:'Montserrat', sans-serif;
    
}

#logo-footer{
    /* right: 90%; */
    margin-left: 3%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;

}

#logo-footer img{    
    margin-top: 50px;
}


#footer-menu1{
    margin-left: 20%;
    font-weight: bold;
    /* margin-top: 50px; */
}


#footer-menu2{
    margin-left: 12%;
    display: inline-block;
}

.footer-menu{
    display: inline-block;
    padding-top: 50px;
}
.footer-menu li{
    padding: 10px 0px;
    list-style: none;

}

.footer-menu li:first-child{
    margin-top: 20px;
}

#footer-menu1 li a{
    font-family:'Montserrat', sans-serif;;
    color: black;
}

#footer-menu1 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu1 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 90px;
}


#footer-menu2 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu2 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 200px;
}


.footer-menu a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 30px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}

.footer-menu a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 190px;
}



.main{
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

#contacts{
    display: inline-block;
    margin-left: 10%;

}


#contact{
    display: inline-block;
}

#company-contacts{
    display: inline-block;
    margin-left: 50px;

}



.contact{
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px 0px;

}

b{
    margin:0px;
}

.contact p:nth-child(2){
    margin-left: 20px;
    max-width: 500px;
    font-size: 15px;
}