*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* width: 100%; */
}

a{
    text-decoration: none;
}

/* li {
    list-style: none;
} */

input[type ='submit']{
    cursor: pointer;
}







/* ///////////////////////HEADER/////////////////////// */

#header{
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    /* height: 903px; */
    background-color: #F5F5F5;
}

.header-menu{
    position: absolute;
    left: 38%;
    padding-top: 40px;
    box-sizing:border-box; 
    width: auto;

}

#pic{
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
#gradient{
  z-index: 99999999;
}

.header-menu li{
    padding: 0px 35px;
    font-size: 17px;
    display: inline;
    box-sizing: border-box;

}


#header li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,1,.1,1
    );
}


#header li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 100px;
}

#logo{
    position: absolute;
    /* right: 90%; */
    margin-left: 9%;
    box-sizing: border-box;
    margin-top: 20px;
}

#header li:nth-child(6){
    padding: 0px 100px;
}

#header li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}




/*\\\\\\\\\\\\\\\\\\КОНТЕНТ\\\\\\\\\\\\\\\\\\\\\ */

#content{
    background-color: #f5f5f5;
    width: 1920px;
    height: 700px;
}

#content h1{
    font-size: 30px;
    font-family: 'Montserrat';
    margin-left: 10%;
    padding-top: 40px;
}

#contacts2{
    display: inline-block;
    margin-left: 5%;
    margin-top: 25px;

}


#contact2{
    display: inline-block;
}

#company-contacts{
    display: inline-block;
    margin-left: 0px;

}



.contact2{
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 10px 0px;
    font-family: 'Montserrat';

}

b{
    margin:0px;
}

.contact2 p:nth-child(2){
    margin-left: 20px;
    max-width: 500px;
    font-size: 15px;
}




/* /////////////////////FOLLOW US/////////////// */

#social{
    display: block; 
    margin-top: -200px;
    /* position: absolute;    */
}

#social h1{
    margin-left: unset;
    margin-left: 18%;
}

#icons{
    margin-top: 10px;
    margin-left: 10%;

}

#icons a{
    padding-left: 40px;
}




#map{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20%;
    /* margin-top: -100px; */
}





/* ////////////FOOOTER//////////// */



#footer {
    height: auto;
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-family:'Montserrat', sans-serif;
    
}

#logo-footer{
    /* right: 90%; */
    margin-left: 3%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;

}

#logo-footer img{    
    margin-top: 50px;
}


#footer-menu1{
    margin-left: 20%;
    font-weight: bold;
    /* margin-top: 50px; */
}


#footer-menu2{
    margin-left: 12%;
    display: inline-block;
}

.footer-menu{
    display: inline-block;
    padding-top: 50px;
}
.footer-menu li{
    padding: 10px 0px;
    list-style: none;

}

.footer-menu li:first-child{
    margin-top: 20px;
}

#footer-menu1 li a{
    font-family:'Montserrat', sans-serif;;
    color: black;
}

#footer-menu1 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu1 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 90px;
}


#footer-menu2 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu2 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 200px;
}


.footer-menu a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 30px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}

.footer-menu a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 190px;
}



.main{
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

#contacts{
    display: inline-block;
    margin-left: 10%;

}


#contact{
    display: inline-block;
}

#company-contacts{
    display: inline-block;
    margin-left: 50px;

}



.contact{
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px 0px;

}

b{
    margin:0px;
}

.contact p:nth-child(2){
    margin-left: 20px;
    max-width: 500px;
    font-size: 15px;
}


