*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    /* width: 100%; */
}

a{
    text-decoration: none;
}

/* li {
    list-style: none;
} */

input[type ='submit']{
    cursor: pointer;
}

/* /////////////////HEADER/////////////// */
#header{
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    height: 100px;
    /* height: 903px; */
    background-color: #2b2b2b;
    
}

.header-menu{
    position: absolute;
    left: 38%;
    padding-top: 40px;
    box-sizing:border-box; 
    width: auto;

}



.header-menu li{
    padding: 0px 35px;
    font-size: 17px;
    display: inline;
    box-sizing: border-box;

}


#header li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,1,.1,1
    );
}


#header li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 100px;
}

#logo{
    position: absolute;
    /* right: 90%; */
    margin-left: 9%;
    box-sizing: border-box;
    margin-top: 20px;
}

#header li:nth-child(6){
    padding: 0px 100px;
}

#header li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}




/* ////////////////NEWS///////////////// */


#news{
    position: absolute;
    z-index: 999909999;
    left: 0;
    right: 0;
    width: 1920px;
    background-color: #f5f5f5;
}

#news h1{
    padding-top: 20px2;
    font-size: 50px;
    text-align: center;
    font-family: "Montserrat";
}


#news-group{
    left: 0;
    right: 0;
    /* position: absolute; */
    width: 1250px;
}




#all-news a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 40px;
    opacity: 0;
    transition: all 0.8s cubic-bezier(.15,1,.1,2);
}


#all-news a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 250px;
}



.fresh-news{
    /* position: absolute; */
    width: 350px;
    display: inline-block;
    margin: 0 auto;
    left: 0;
    right: 0;
    transition: .5s;
    margin-left: 35px;
    margin-top: 50px;
    padding-bottom: 10px;

}


.fresh-news a{
    color: white;
}
.fresh-news:hover{
    transform: scale(1.05);
    transition: .5s;
}

.news-date{
    padding-top: 5px;
    color: #b99522;
}

.txt{
    background-color: #2b2b2b;
    color: white;
}

.txt p{
    margin: 0px 20px 0px 20px;
    font-size: 17px;
    font-family: 'Montserrat';    
}

.txt p:last-child{
    padding-bottom: 30px ;
}


/* ////////////////SECTIONS////////// */


#sections{
    text-align: center;
    color: black;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.section{
    font-size: 17px;
    padding: 5px 7px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    
}

.section:active{
    background-color: black;
}


/* ////////////FOOOTER//////////// */



#footer {
    height: auto;
    margin: 0 auto;
    width: 1920px;
    box-sizing: border-box;
    background-color: #e6e6e6;
    font-family:'Montserrat', sans-serif;
    
}

#logo-footer{
    /* right: 90%; */
    margin-left: 3%;
    box-sizing: border-box;
    display: inline-block;
    position: absolute;

}

#logo-footer img{    
    margin-top: 50px;
}


#footer-menu1{
    margin-left: 20%;
    font-weight: bold;
    /* margin-top: 50px; */
}


#footer-menu2{
    margin-left: 12%;
    display: inline-block;
}

.footer-menu{
    display: inline-block;
    padding-top: 50px;
}
.footer-menu li{
    padding: 10px 0px;
    list-style: none;

}

.footer-menu li:first-child{
    margin-top: 20px;
}

#footer-menu1 li a{
    font-family:'Montserrat', sans-serif;;
    color: black;
}

#footer-menu1 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 15px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu1 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 90px;
}


#footer-menu2 li a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 20px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}


#footer-menu2 li a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 200px;
}


.footer-menu a::before{
    position: absolute;
    color: black;    
    height: 4px;
    width: 150px;
    background: #b99522;
    content: '';
    transform: translateX(190px);
    margin-top: 30px;
    opacity: 0;
    transition: all 0.6s cubic-bezier(.15,0,.1,2);
}

.footer-menu a:hover::before{
    transform: translateX(0px);
    opacity: 1;
    width: 190px;
}



.main{
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
}

#contacts{
    display: inline-block;
    margin-left: 10%;

}


#contact{
    display: inline-block;
}

#company-contacts{
    display: inline-block;
    margin-left: 50px;

}



.contact{
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px 0px;

}

b{
    margin:0px;
}

.contact p:nth-child(2){
    margin-left: 20px;
    max-width: 500px;
    font-size: 15px;
}